@import "vars";
@import "mixins";


.excel__list {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    height: $row-height;
    min-height: 20px;

  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;
    
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    height: 100%;
    border-top: 0;
    border-left: 0;
    position: relative;
  }

  .cell {
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-left: 0;
    border-top: 0;
    color: #111;
    white-space: nowrap;
    border-top: 0;
    position: relative;
    outline: none;

    &::after {
      content: '';
      position: absolute;
      left: -2px;
      top: -2px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: 2px solid #3c74ff;
      box-sizing: border-box;
      opacity: 0;
    }

    &.selected::after {
      opacity: 1
    }

  }
  .col-resize, .row-resize {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #3c74ff;
    opacity: 0;
    right: 0;
    &:hover,
    &.active {
      opacity: 1;
      z-index: 1
    }
  }

  .col-resize {
    width: 4px;
    cursor: col-resize;
  }
  
  .row-resize {
    height: 4px;
    top: auto;
    bottom: 0;
    width: 100%;
    cursor: row-resize;
  }
}